.servicios {
    background-color: var(--color-background-g);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


.titulo-1 {
    color: white;
}

.svg-servicios {
    transform: rotate(180deg);
    margin-top: -0.1rem;
}

.parrafo-servicios {
    color: var(--color-subtitle);
    font-weight: 700;
    font-size: 1.1rem;
    width: 50rem;
    text-align: start;
    margin-top: 2rem;
}

.boton-contacto {
    border-radius: 1.5rem;
    background-color: #ebae95;
    margin-top: 40rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem 0.8rem;
    transition: background-color 0.5s;
    position: absolute;
    z-index: 2;

}

.boton-contacto:hover {
    background-color: var(--color-background-p);
    color: #FFF;
}

.servicios-lista {
    height: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-servicio {
    border-radius: 1.5rem;
    margin: 0.8rem 0.8rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    width: 17rem;
    height: 15rem;
    padding: 0.5rem 0.8rem;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.item-servicio__imagen-1,
.item-servicio__imagen-2,
.item-servicio__imagen-3,
.item-servicio__imagen-4 {
    width: 17rem;
    height: 15rem;
    border-radius: 20px;
}

.superposicion {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 17rem;
    height: 15rem;
    border-radius: 20px;
}

.texto-1 {
    position: absolute;
    width: 12rem;
    height: 4rem;
}

.texto-2 {
    position: absolute;
}

.texto-3 {
    position: absolute;
    width: 8rem;
}

.texto-4 {
    position: absolute;
    width: 10rem;
}

.item-servicio-2 {
    border-radius: 1.5rem;
    background-image: url('./img/costura2.png');
    background-size: cover;
    margin: 0.8rem 0.8rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    width: 17rem;
    height: 15rem;
    padding: 0.5rem 0.8rem;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.item-servicio-3 {
    border-radius: 1.5rem;
    background-image: url('./img/costura3.png');
    background-size: cover;
    margin: 0.8rem 0.8rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    width: 17rem;
    height: 15rem;
    padding: 0.5rem 0.8rem;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.item-servicio-4 {
    border-radius: 1.5rem;
    background-image: url('./img/costura4.png');
    background-size: cover;
    margin: 0.8rem 0.8rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    width: 17rem;
    height: 15rem;
    padding: 0.5rem 0.8rem;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.item-servicio:hover {
    color: #FFF;
}

@media (max-width: 562px) {

    .servicios {
        height: 100rem;
    }

    .servicios-lista {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .parrafo-servicios {
        color: var(--color-subtitle);
        font-weight: 700;
        font-size: 1.1rem;
        width: 15rem;
        text-align: start;
        margin-top: 2rem;
    }

    .titulo-1 {
        font-size: 2rem;
        font-weight: 400;
        width: 15rem;
        margin-top: 3rem;
    }

    .boton-contacto {
        margin-top: 99rem;
    }
}