.about {
    background-color: var(--col-IF-Grey-d);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 44rem;

}

.elementos-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.titulo-presentacion {
    color: var(--color-title);
    font-weight: 700;
    font-size: 4rem;
    width: 36rem;
    margin-bottom: 3rem;
}


.presentacion {
    margin-top: -5rem;
    width: 26rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentacion-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
    width: 26rem;
    text-align: start;

}

.parrafo-presentacion {
    color: var(--color-subtitle);
    font-weight: 700;
    font-size: 1.1rem;
    width: 100%;
}

.fotos {
    max-width: 10rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.foto-about-1 {
    max-width: 16rem;
    height: auto;
}

.foto-about-2 {
    max-width: 16rem;
    height: auto;
}

.svg-about {
    width: fit-content;
}

@media (max-width: 768px) {

    .about {
        height: 100rem;
        display: flex;
        justify-content: center;

    }

    .svg-about {
        position: absolute;
        width: 23.4375rem;

    }

    .elementos-about {
        margin-top: 30rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .presentacion {
        margin-top: 0px;
    }

    .presentacion-2 {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .titulo-presentacion {
        font-size: 2rem;
        font-weight: 400;
        width: 15rem;
        margin-top: 6rem;

    }

    .parrafo-presentacion {
        width: 15rem;
        padding: 0%;
        text-align: start;
    }

    .fotos {
        margin-bottom: 2rem;
    }


}

@media (max-width: 562px) {

    .about {
        height: 80rem;
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .svg-about {
        width: 110%;
    }

    .elementos-about {
        margin-top: 30rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .presentacion {
        margin-top: -30rem;
        /* width: 26rem; */
        text-align: start;
    }

    .presentacion-2 {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .titulo-presentacion {
        font-size: 2rem;
        font-weight: 400;
        width: 15rem;
        margin-top: 6rem;

    }

    .parrafo-presentacion {
        width: 15rem;
        padding: 0%;
        text-align: start;
    }

   
    .foto-about-1 {
        max-width: 16rem;
        height: auto;
    }

    .foto-about-2 {
        max-width: 16rem;
        height: auto;
    }

}

@media (max-width: 768px) {}

@media (max-width: 768px) {}