* {
  font-family: var(--tipografia-ppal);
}

body {
  margin: 0;
  background-color: var(--color-background);

}

h1 {
  color: var(--color-title);
  font-weight: 700;
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s;
}

a:hover {
  color: var(--color-title);
}

:root {
  --color-background: #f2e1d0;
  --color-background-g: #a6a6a6;
  --color-background-p: #f2cbbc;
  --color-text: rgb(35, 35, 35, 1);
  --color-title: #8b6e5c;
  --color-subtitle: rgb(87, 84, 84);
  --color-input: rgba(220, 220, 220, 1);
  --color-navbar: rgb(79, 79, 79, 1);
  --gradient-image: rgb(35, 35, 35, 1);
  --color-cards: rgb(79, 79, 79, 1);



  --tipografia-ppal: "Calibri";
  --tipografia-sec: "Arial";

}